    <div class="container">
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">
                    Copyright &copy; 2020 OpenG2P Foundation. All rights reserved. </p>
            </div>
            <div class="footer_social_nav">
                <ul class="nav-social">
                    <li class="fa fa-twitter"><a href="http://twitter.com/openg2p">Twitter</a></li>
                    <li class="fa fa-youtube"><a href="http://www.youtube.com/user/openg2p">Youtube</a></li>
                    <li class="fa fa-github"><a href="https://github.com/openg2p">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
