<div class="header">
    <div class="fan"></div>
    <div class="container-fluid">
        <div class="row">
            <nav class="nav-primary">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img class="logo" src="../images/openg2p-logo.png" alt="OpenG2P Docs" title="OpenG2P Docs">
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="primary nav navbar-nav">
                            <li><a href="#">Why OpenG2P?</a></li>
                            <li><a href="#">Get started</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
        </div>
    </div>
    <!-- hero banner text -->
    <div class="container-fluid">
        <div class="row">
            <div class="hero-text">
                <div class="hero-text-centered">
					<h1>{{ site.name }}</h1>
					<p>OpenG2P is a set of digital building blocks opensourced to support large scale humanitarian relief transfers and payments programs. It layers itself on existing infrastructure to effectively extend solutions to digitizing key cogs in delivery chain.</p>
                    <!-- <ul class="buttons">
                        <li><a class="button transparent-btn" href="#">Get OpenG2P</a></li>
                        <li> <a class="button secondary-btn" href="#">Get Started</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <!-- nav-secondary -->
    <!-- data-offset-top should calculated as follows: (height of <header> - header of <nav>) -->
    <nav class="nav-secondary-tabs" data-spy="affix" data-offset-top="385">
        <div class="container-fluid">
            <div class="navbar-collapse" aria-expanded="false" style="height: 1px;">
                {% include navigation.html %}
            </div>
        </div>
    </nav>
</div>
